.App {
  text-align: center;

  display: flex;
}

.Left {
  flex: 1;
  height: 100vh;

  background-color: #66AAFF;
}

.SettingPopupPage {
  width: 500px;
  height: 400px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-30%, -60%);

  display: none;
  background-color: #eff7ff;
  border: 1px #000000 solid;
  border-radius: 10px;
}
#SettingPopupPage_Title {
  font-size: 30px;
}
.SettingPopupPage .SettingForm {
  width: 94%;
  height: 73%;

  margin: 2%;
  padding: 1%;
  border: 1px #000000 solid;

  text-align: left;
}
.SettingPopupPage_Buttons {
  margin-right: 2%;
  text-align: right;
}
.SettingPopupPage_Buttons button {
  width: 70px;
  height: 25px;
}

.SettingSVG {
  width: 30px;
  height: 30px;
}

.ChatListItem {
  font-weight: bold;
}

.Right {
  flex: 9;
  height: 100vh;
  
  background-color: #FFFFFF;
}
.Message {
  border-top: 1px #EEEEEE solid;
  border-bottom: 1px #EEEEEE solid;
}

.Input {
  position: fixed;
  bottom: 3%;

  left: 50%;
  transform: translateX(-35%);

  padding: 5px;

  border: 1px #BBBBBB solid;
  border-radius: 10px;

  display: flex;
}
.InputForm #InputForm_Option {
  width: 30px;
  height: 30px;

  border: 1px #000000 solid;
  vertical-align: middle;
}
.OptionPopupPage {
  width: 500px;
  height: 400px;

  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -10%);

  display: none;
  background-color: #eff7ff;
  border: 1px #000000 solid;
  border-radius: 10px;
}
.OptionPopupPage_Buttons {
  margin: 1%;
  text-align: right;
}
.OptionPopupPage_Buttons button{
  width: 70px;
  height: 25px;
}
.OptionPopupPage .OptionForm {
  width: 94%;
  height: 82%;

  margin: 2%;
  padding: 1%;
  border: 1px #000000 solid;

  text-align: left;
}
.OptionForm textarea {
  border: 1px #000000 solid;
}

.InputForm #InputForm_Text {
  width: 35vi;
  height: 30px;
  
  margin: 0 5px 0 5px;

  /* border: none; */
}
.InputForm #InputForm_Send {
  width: 30px;
  height: 30px;
  
  border: 1px #000000 solid;
  vertical-align: middle;
}